:root {
    --color-ink-black: #000814;
    --color-prussian-blue: #001D3D;
    --color-regal-navy: #003566;
    --color-school-bus-yellow: #FFC300;
    --color-gold: #FFD60A;
}

/* Login Page - code currently copied from hw1 */
.form-error {
    color: #6b1d1d;
    background-color: #ef9595;
    border: 1px solid #6b1d1d;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.hidden {
    display: none;   
}

/*homepage (index.html)*/
.home-page { color: white; }
.home-page { background-color: var(--color-ink-black); font-family: 'Tahoma', sans-serif; }
.home-page nav a { color: white; text-decoration: none; }
.home-page h2 { font-family: "Roboto", Tahoma, sans-serif; }
.home-page p { font-family: "Roboto", Tahoma, sans-serif; }
.home-page #trending { background-color: var(--color-prussian-blue); }
.home-page #actor-panel { background-color: var(--color-prussian-blue); }
.home-page #watchlist { background-color: var(--color-prussian-blue); }
.home-page .movie-list { display: flex; gap: 12px; overflow-x: auto; }
.home-page .movie-card { border: 1px solid var(--color-ink-black); width: 120px; flex-shrink: 0; }
.home-page .movie-card img { width: 100%; height: 170px; object-fit: cover; }
/*end*/

/* Navigation CSS */
.navbar {
    display: flex;
    justify-content: space-between; /* Pushes links left and search right */
    align-items: center;
    padding: 10px 20px;  
}
  
.nav-links {
    display: flex;
    list-style: none;
    gap: 15px; /* Adds space between links */
}
  
.nav-links a {
    color: white;
    text-decoration: none;
}

/* Search bar CSS */
#search-container {
    display: flex; /* Aligns children (input and button) inline */
    max-width: 400px;
}
  
#search-container input {
    flex: 1; /* Makes the input field take up all available space */
    padding: 8px;
    border-right: none; /* Merges the input border with the button */
    border-radius: 4px 0 0 4px; /* Rounds only the left corners */
}
  
#search-container button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 4px 4px 0; /* Rounds only the right corners */
    cursor: pointer;
}